<!DOCTYPE html>
<html lang="en"> <!-- Set this to the main language of your site -->
<head>
    <meta charset="utf-8">
    <title>Projet Robotique</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/scratchx.css" rel="stylesheet" type="text/css">

    <!-- Notre Style CSS -->
    <link href="css/style.css" rel="stylesheet">
    

    <!-- Bootstrap Core CSS
    <link href="css/bootstrap.min.css" rel="stylesheet">
    -->

    <!-- Custom CSS -->
    <link href="css/stylish-portfolio.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
<main>
    <header>
        <div>
            <a href="#home"><h1 class="scratchx-logo"><span>ScratchX</span></h1></a>
            <nav class="main-nav">
            <ul>
<!--                 <li><a href="#faq">FAQ</a></li> -->
                <li><a href="#extensions"> Scratch </a></li>
                <li><a href="#Forum"> Forum </a></li>
 <!--               <li><a href="#Documentations"> Documentations </a></li>   -->
                <li><a href="#Tutos"> Tutoriels </a></li>
                <li><a href="#aPropos"> A Propos </a></li>
            </ul>
            </nav>
        </div>
    </header>
    <article id="home">
        <header>
            <section>
<!--                 <div>
                    <h1>Play with Experimental Extensions to Scratch!</h1>
                    <p>With Experimental Extensions, you can create Scratch projects that connect with external hardware (such as electronic devices and robotics) and online resources (including web data and web services).</p>
                </div> -->
                <div>
             <!--       <a href="#" data-action="modal" data-template="template-extension-file">Open Extension File</a>  -->
                </div>
                <div>
            <!--        <a href="#" data-action="modal" data-template="template-extension-url">Open Extension URL</a>   -->
                </div>
            </section>     
            <center>
            <section class="galleri">
                <ul>   
                        <a href="?url=http://localhost:8001/scratch_extensions/test_lib.js" data-action="load-url">
                            <header>
                                <h2>Tobby The Robot</h2>
                                <p class="author">Développé par des étudiants Isen pour TXRobotic</p>
                            </header>
                            <img src="images/extensions/photo_robot.png" width="400" height="400" />
                        </a>
                        <section class="description">
                            <p>Tobby est un robot éducatif programmable avec Scratch. Grâce à deux environnements Scratch différents, il permet à des élèves d'école primaire de s'initier à la programmation, et à des élèves de collège de s'améliorer. Tobby est également programmable directement en Arduino pour les plus avancés. </p>
                        </section>
                        <section class="tags">
                </ul>
                </section>
            </center>

            <div class="bottom-row">
                <div>

                    <aside class="icon-gears">Mais où peut-on trouver ce magnifique robot? - <a href="http://www.txrobotic.fr/">Clique ici!</a></aside>

                    <!-- <a href="#extensions"><button>Les Différents Niveaux</button></a> -->
                </div>  
            </div>
        </header>
<!--         <aside class="warning message"><strong>Warning:</strong> all extensions are experimental and not a product of the Scratch Team. <a href="#faq">Find out more</a></aside>
 -->        <section class="scratch-vs-scratchx">
            <div>
                
                    <div>
                        <h2 class="logo-scratch">Scratch</h2>
                        <p> Scratch est un logiciel libre qui permet d'initier des élèves à certains concepts de mathématiques et de programmation. Grâce à Tobby, le programme conçu sur Scratch permet de faire fonctionner et d'interragir avec le robot. Cependant, Scratch peut également être utilisé sans Tobby. <a href="http://scratch.mit.edu/">Accéder a Scratch</a> </p>                    
                    </div>
            </div></div>
        </section>
<!--         <section class="who-uses-scratchx">
            <div><div>
                <div>
                    <h2>Who uses ScratchX?</h2>
                    <p><strong>Anyone</strong> can access and play with Experimental Extensions on ScratchX. Integrate <a href="?url=https://technoboy10.github.io/twitter/extension.js" data-action="load-url">Twitter</a> feeds into your Scratch project, connect with hardware like <a href="?url=http://khanning.github.io/scratch-arduino-extension/arduino_extension.js" data-action="load-url">Arduino</a> and <a href="?url=https://MrYsLab.github.io/xi4s.js" data-action="load-url">Raspberry Pi</a>, and <a href="#extensions">much much more.</a></p>

                    <p><strong>Developers</strong> can use ScratchX to create and test new Experimental Extensions. Learn more about ScratchX in our <a href="https://github.com/LLK/scratchx/wiki/">developer documentation</a></p>
                </div>
            </div></div>
        </section>
        <nav>
            <ul>
                <li class="faq"><a href="#faq">Frequently Asked Questions</a></li>
                <li class="extensions"><a href="#extensions">See all Extensions</a></li>
                <li class="documentation"><a href="https://github.com/LLK/scratchx/wiki/">Developer Documentation</a></li>
            </ul>
        </nav> -->
    </article>

    <article id = "Forum">
        <section class="intro">
            <div>
            </div>
        </section>
        <section class="gallery">
            <div>
            <center>
                <p> Forum / Communauté </p>
                <p> A Compléter ! </p>
            </center>
            </div>
        </section>
    </article>


    <article id = "Documentations">
        <section class="intro">
            <div>
            </div>
        </section>
        <section class="gallery">
            <div>
            <center>
                <p> Mettre les Documentations </p>
            </center>
            </div>
        </section>
    </article>


    <article id = "Tutos">
        <section class="intro">
            <div>
            </div>
        </section>
        <section class="gallery">
            <center>
                <p align="center"> <br> Pour accompagner les élèves et les professeurs dans la découverte du robot et des différentes possibilités d'utilisation, des tutoriels et des fiches élèves sont disponibles. </br> </p>
                <p align "center"> Découverte n°1 </p>  
                <a href="/tutoriels/Tuto1_Prof.pdf" ">
                        <img src="images/Tutos/tuto1.png" width="250" />
                </a>
                <a href="/tutoriels/Tuto1_FicheElève.pdf" ">
                        <img src="images/Tutos/tuto1_eleves.png" width="250" />
                </a>
             </center>
             <center>
                <p align "center"> Découverte n°2 </p>  
                <a href="/tutoriels/Tuto2_Prof.pdf" ">
                        <img src="images/Tutos/tuto2.png" width="250" />
                </a>
                <a href="/tutoriels/Tuto2_FicheElève.pdf" ">
                        <img src="images/Tutos/tuto2_eleves.png" width="250" />
                </a>
              </center>
        </section>
    </article>


    <article id = "aPropos">
        <section class="intro">
            <div>
            </div>
        </section>
        <section class="gallery">
            <div>
                <center>
                    <img src="images/aPropos/group.jpg" />
                    <p> TXRobotic a travaillé en partenariat avec 13 étudiants de l'école d'ingénieur Isen à Lille, pour créer le premier robot éducatif programmable français. Durant 7 mois, les cerveaux ont chauffé dans le laboratoire de robotique de l'Isen, pour produire 3 versions de Tobby.  </p>
                </center>
            </div>
        </section>
    </article>


    <article id="extensions">
        <section class="intro">
            <div>
<!--                 <div>
                    <h1>Gallery of Experimental Extensions</h1>
                    <p>With Experimental Extensions, you can create Scratch projects that connect with external hardware and online resources. Try examples below to see the wide variety of things you can do with Experimental Extensions!</p>

                    <p>If you are a developer with an extension that you'd like to submit to our gallery, read more about the <a href="https://github.com/LLK/scratchx/wiki#how-do-i-submit-my-extension-for-consideration-on-scratchx" target="_blank">submission process here</a>.</p>
                </div> -->
            </div>
        </section>
<!--         <aside class="warning message"><strong>Warning:</strong> all extensions are experimental and not a product of the Scratch Team. <a href="#faq">Find out more</a></aside>
 -->        <section class="gallery">
            <div>
                <ul>
                    <li>
                        <a href="?url=http://localhost:8001/scratch_extensions/lib_primaire.js" data-action="load-url">
                            <header>
                                <h2>Débutant</h2>
                                <p class="author">Niveau école primaire</p>
                            </header>
                            <center>
                            <img src="images/extensions/primaire.jpg" />
                            </center>
                        </a>
                        <section class="description">
                            <p>ISEN Team</p>
                            <a href="?url=http://localhost:8001/scratch_extensions/lib_primaire.js" data-action="load-url">Sample Project</a>
                            <a href="http://khanning.github.io/scratch-arduino-extension/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <span class="tag hardware" title="Hardware Extension">Utilise Tobby</span>
                        </section>
                    </li>
                    <li>
                        <a href="?url=http://localhost:8001/scratch_extensions/lib_college.js" data-action="load-url">
                            <header>
                                <h2>Intermédiaire</h2>
                                <p class="author">Niveau collège</p>
                            </header>
                            <center>
                            <img src="images/extensions/college.jpg" />
                            </center>
                        </a>
                        <section class="description">
                            <p>ISEN Team</p>
                            <a href="?url=https://llk.github.io/arduino-101/examples/Blink.sbx" data-action="load-url">Sample Project</a>
                            <a href="https://llk.github.io/arduino-101/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <spmodal-face-screenan class="tag hardware" title="Hardware Extension">Utilise Tobby</span>
                        </section>
                    </li>
                                        <li>
                        <a href="?url=https://llk.github.io/arduino-101/arduino101_serial_extension.js" data-action="load-url">
                            <header>
                                <h2>Avancé</h2>
                                <p class="author">Niveau Lycée</p>
                            </header>
                            <center>
                            <img src="images/extensions/lycee.jpg" />
                            </center>
                        </a>
                        <section class="description">
                            <p>ISEN Team</p>
                            <a href="?url=https://llk.github.io/arduino-101/examples/Blink.sbx" data-action="load-url">Sample Project</a>
                            <a href="https://llk.github.io/arduino-101/" target="_blank">Documentation</a>
                        </section>
                        <section class="tags">
                            <spmodal-face-screenan class="tag hardware" title="Hardware Extension">Utilise Tobby</span>
                        </section>
                    </li>
                </ul>
            </div>
        </section>


        <section class="scratch-vs-scratchx">
            <div><div>
                <div>
                    <div>
                        <h2 class="logo-scratch">Scratch</h2>
                        <p> Scratch est un logiciel libre qui permet d'initier des élèves à certains concepts de mathématiques et de programmation. Grâce à Tobby, le programme conçu sur Scratch permet d'interragir de faire fonctionner et d'interragir avec le robot. Cependant, Scratch peut également être utilisé sans Tobby. <a href="http://scratch.mit.edu/">Accéder a Scratch</a> </p>
                    </div>
                </div>
        </section>
    </article>



    <!-- Footer -->
    <footer id="contact">
        <div>
            <center>
                <h3> <strong> Tobby the Robot </strong> </h3>
                    <p> </br> 41 boulevard Vauban<br>59000, Lille </p>
                        <ul>
                            <li> <i class="fa fa-phone fa-fw"></i> +33 (0)3 20 30 40 50 </li>                      
                        </ul>
                        <br>
                        <hr class="small">
                    <p> Copyright &copy; Your Website 2016 </p>
            </center>
        </div>
    </footer>

</main>



<section id="scratch">
    <div class="scratch_unsupported">
        <p>
            Oh Noes! Scratch project cannot display.<br/>
            Flash player is disabled, missing, or less than version 10.2.
        </p>
        <a href="http://www.adobe.com/go/getflashplayer" target="_blank"><img
                src="//www.adobe.com/images/shared/download_buttons/get_flash_player.gif"
                alt="Get Adobe Flash player"/></a>
    </div>
    <div class="scratch_loading"></div>
</section>


<script type="text/template" id="template-warning">
<dialog class="extension-warning with-icon">
    <section>
        <h2>Warning</h2>
        <p>The extensions on this site are experimental</p>
    </section>
    <section>
        <p>The Scratch Team is <strong>not</strong> responsible for the extensions and projects on this site. Please use caution when using these extensions. <a href="#faq">Learn More</a></p>

        <button data-action="show" data-target="home">Back to ScratchX home</button>
        <button class="success">I understand, continue</button>
    </section>
</dialog>
</script>


<script type="text/template" id="template-short-url">
<dialog class="single">
    <section>
        <h2>Short URL</h2>
    </section>
    <section>
        <p>Click to copy the short url for this project</p>
        <div class="input-plus-button">
            <input type="text" value="<%- shortUrl %>" name="shortUrl" disabled />
            <button data-clipboard-text="<%- shortUrl %>">Copy</button>
        </div>
    </section>
</dialog>
</script>


<script type="text/template" id="template-extension-url">
<dialog class="extension-url with-icon">
    <section>
        <h2>Open an Extension URL</h2>
        <p>Paste the web address below</p>
        <p><a href="#faq-scratchx-url">What is a ScratchX URL?</a></p>
    </section>
    <section>
        <form class="input-plus-button url-load-form">
            <input type="text" placeholder="paste url..." />
            <button type="submit">Open</button>
        </form>
    </section>
</dialog>
</script>
<script type="text/template" id="template-extension-file">
<dialog class="extension-file with-icon">
    <section>
        <h2>Open an Extension Project</h2>
        <p>Choose a .sbx file from your local drive</p>
        <p><a href="#faq-sbx-file">What is a .sbx file?</a></p>
    </section>
    <section>
        <button data-action="load-file">Browse for local file</button>
    </section>
</dialog>
</script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-30688952-3', 'auto');
  ga('send', 'pageview', 'home');
</script>
<script type="text/javascript" src="libs/base64ab.js" async></script>
<script type="text/javascript" src="libs/swfobject.js"></script>
<script type="text/javascript" src="libs/jquery-1.11.2.min.js"></script>
<script type="text/javascript" src="libs/socket.io-1.3.7.js"></script>
<script type="text/javascript" src="libs/underscore-min.js" async></script>
<script type="text/javascript" src="libs/ZeroClipboard.min.js" async></script>
<script type="text/javascript" src="js/scratchx.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_proxies.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_plugin.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_nmh.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_deviceManager.js" defer></script>
<script type="text/javascript" src="scratch_extensions/scratch_ext.js" defer></script>
<!-- <script type="text/javascript" src="scratch_extensions/test_lib.js" defer></script>
 --></body>
</html>
